
.container {
    background-color: #f0e8ca;
   
}

body {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.header {
    background-color: #f0e8ca;
}

h1 {
    text-align: center;
    font-family: calibri;
    font-weight: bold;
    padding-bottom: 50px;
}

p {
    text-align: center;
    padding-bottom: 50px;
    font-size: large;
}

#welcome {
    padding: 40px;
    background-color: #fbe413;
}


/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #f0e8ca;
    position: right;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: #ec6629;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: #f0e8ca;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #f0e8ca;
    color: #ec7729;
  }
  
  /* Style the active link (or home/logo) */
  /* .active {
    background-color: #04AA6D;
    color: white;
  } */

  /* -------FOOTER NAVBAR-----------------*/

  /* Place the navbar at the bottom of the page, and make it stick */
.footnav {
  background-color: green;
   overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Style the links inside the navigation bar */
.footnav a {
  float: center;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  border-bottom: 1px solid white;
}

/* Change the color of links on hover */
.footnav a:hover {
  background-color: red;
  color: white;
}

/* Add a color to the active/current link */
/* .footnav a.active {
  background-color: green;
  color: white;
} */